# Dependency directories
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Build output
dist/

# Misc
.DS_Store

# Epub examples
epubs/**/*

**/.claude/settings.local.json
